.logos {
     display: flex;
     position: absolute;
     right: 0;
     margin-right: 6vw;
     z-index: 100;
}

.logo {
     margin: 15px 10px;
}

.logo img {
     cursor: pointer;
     width: 42px;
}
