.cards_container {
     position: absolute;
     right: 0;
     margin-top: 19vh;

     display: flex;
     align-items: center;
     justify-content: center;

     /* flex-direction: row; */
     flex-wrap: wrap;

     width: 70vw;
     height: 55vh;
     margin-left: 250px;
     /* margin-top: 80px; */

     border: none;
     background-color: transparent;

     z-index: 2;
}
